<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <!-- link rel="stylesheet" href="/css/main.css" -->
        <!-- From Wok -->
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/pygments.css">
	
    </head>
    <body>

    <header>
      <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
      <nav>
        {% for nav in site.pages %}
          {% if nav.navrank %}
  	    {% if nav.url == page.url %}
	      <a href="{{ nav.url }}" class="active">{{ nav.title }}</a>
	    {% else %}
	      <a href="{{ nav.url }}">{{ nav.title }}</a>
	    {% endif %}
          {% endif %}
        {% endfor %}
      </nav>
    </header>


        <div class="container">
          <div class="site">

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
		  Christie Halle Devlin
                </p>
              </div>
              <div class="contact">
                <p>
               </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
